.card-container {
  height: 80px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  border: 2px solid #050508e3;
  border-radius: 10px;
  align-items: center;
}
