.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .forgot-password {
    padding: 15px;
  }
  .danger{
    color: rgba(182, 8, 8, 0.863);
    display: flex;
    justify-content: center;
  }
}
